@model WebApplication_InformationSecurityRiskAssessmentSystem.Models.Asset

@{
    ViewData["Title"] = "Видалення активу";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="my-container">
    <h1 class="my-header">@ViewData["Title"]</h1>

    <h3>Ви справді бажаєте вилучити цей актив?</h3>
    <div>
        <h4>Актив</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Owner)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Owner)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Видалення" class="btn btn-danger" /> |
            <a asp-action="Index" class="btn btn-sm btn-success">Назад до списку аткивів</a>
        </form>
    </div>
</div>


